footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height:5%;
    background-color: #212121;
    z-index: 10000;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    border-top: 2px solid white;
    z-index: 99999999999999999;
  padding:1em;
  padding-top:1.1em
  }


  /* Heres for the title on the footer */
.footertitle h1{
    color:white;

}

.footertitle{
    margin: 1em;
    margin-right: 40%;
    width: 40%;
    display: flex;
    position: relative;
    font-size: 8px;
}


/* heres for the tools we embed into the footer */





@media screen and (max-width: 600px) {
    .footertitle {
      font-size: 8px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 480px) {
    .footertitle  {
      font-size: 8px;
    }


    footer{
      position: fixed;
      
    }

  }




