
h1,h2,h3,p{
    color:white;
}

.pageContent{


    width: 100%;
    z-index:9999999;
    padding: 1em;

    /* border: 1px solid white; */
margin-top: 5em;
    /* border-top: 2px solid white */
}
.productDetailsPage{
    height: 100vh;
}

@media screen and (max-width: 480px){
    .pageContent{
        height: 100%;

    }
}

@media (max-width: 750px) {
    .pageContent{
        width: 100vw;
    }
}